<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/main-style.css" />
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CPT</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

        </ul>
        <ul class="navbar-nav mx-auto">
          <!-- 중앙에 배치하기 위해 mx-auto 사용 -->
          <li class="nav-item">
            <a class="nav-link" href="/online-boards">자유게시판</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trials">재판</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/humors">유머</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/poltical-debates">정치 토론</a>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              명예의 전당
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/trials/HallofFame/votes">재판 명예의 전당</a>
              <a class="dropdown-item" href="/humors/HallofFame/votes">유머 명예의 전당</a>
              <a class="dropdown-item" href="/poltical-debates/HallofFame/votes">정치 명에의 전당</a>
              <a class="dropdown-item" href="/online-boards/HallofFame/likes">게시판 명예의 전당</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <!-- 우측에 배치하기 위해 ms-auto 사용 -->
          <li class="nav-item">
            <% if (isLoggedIn)  {%>
            <a class="nav-link" id="logout" href="/logout">로그아웃</a>
            <% } else { %>
              <a class="nav-link" href="/sign-in">로그인</a>
              <% } %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script>
    document.getElementById('logout').addEventListener('click', function() {
      fetch('/logout', { method: 'POST' }) // /logout에 POST 요청
        .then(response => {
          if (response.ok) {
            alert('로그아웃 성공')
            window.location.href = 'http://localhost:3000'; // 응답 성공 시 리다이렉트
          } else {
            alert('Logout failed.');
          }
        })
        .catch(error => console.error('Error:', error));
    });
        </script>
</body>
</html>