<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/board-style.css" />
    <link rel="stylesheet" href="/css/create-style.css">
  </head>
  <body>
    <%- include('partials/nav')  %>

    <header>
      <div class="board_title">
        <% if (boardType === 'humor') { %>
          <span>유머 게시판</span>
        <% } else if (boardType === 'onlineBoard') { %>
          <span>자유 게시판</span>
        <% } else if (boardType === 'polticalDebate') { %>
          <span>정치토론 게시판</span>
        <% } else if (boardType === 'trial') { %>
          <span>재판 게시판</span>
        <% } %>
      </div>
      <hr width="100%" color="black" size="2" style="margin-left: 30px" />
      
      <div class="container">
        <h2>게시물 생성</h2>
        <% if (boardType === 'onlineBoard') { %>
          <form id="postForm">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
              <label for="image">이미지 첨부</label>
              <input type="file" id="image" name="files" accept="image/*" multiple>
          </div>
            <div class="form-group">
                <label for="content">내용</label>
                
                  <textarea  cols="100" rows="10" contenteditable="true" name="content"></textarea>
                
            </div>
            <button type="submit">게시물 등록</button>
        </form>
          <% } else if(boardType === 'humor' || boardType === 'polticalDebate') {%>
            <form id="postForm">
              <div class="form-group">
                  <label for="title">제목</label>
                  <input type="text" id="title" name="title" required>
              </div>
              <div class="form-group">
                <label for="image">이미지 첨부</label>
                <input type="file" id="image" name="files" accept="image/*" multiple>
            </div>
              <div class="form-group">
                  <label for="content">내용</label>
                  
                    <textarea  cols="100" rows="10" contenteditable="true" name="content"></textarea>
                  
              </div>
              <div class="form-group">
                <p>투표 생성</p>
                <label for="title1">투표1</label>
                <input type="text" id="title1" name="title1" value="title1">
                <label for="title2">투표2</label>
                <input type="text" id="title2" name="title2" value="title2">
            </div>
              <button type="submit">게시물 등록</button>
          </form>
            <% } else if(boardType === 'trial') { %>
              <form id="postForm">
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    
                      <textarea  cols="100" rows="10" contenteditable="true" name="content"></textarea>
                    
                </div>
                <div class="form-group">
                  <p>투표 생성</p>
                  <label for="title1">투표1</label>
                  <input type="text" id="title1" name="title1" value="title1">
                  <label for="title2">투표2</label>
                  <input type="text" id="title2" name="title2" value="title2">
                  <label for="trialTime">투표타이머</label>
                  <input type="datetime-local" id="trialTime" name="trialTime" value="trialTime">
              </div>
                <button type="submit">게시물 등록</button>
            </form>
              <% } %>
    </div>
    </header>
<script>
  let boardType;
  boardType = "<%= boardType %>";
  if (boardType === 'humor') { 
          boardType = 'humors'
        } else if (boardType === 'onlineBoard') { 
          boardType = 'online-boards'
        } else if (boardType === 'polticalDebate') { 
          boardType = 'poltical-debates'
        } else if (boardType === 'trial') { 
          boardType = 'trials'
        } 
  document.getElementById('postForm').addEventListener('submit', function(event) {
  event.preventDefault(); // 기본 폼 제출 이벤트 방지

  const titleElement = document.getElementById('title'); // 제목 필드 선택
    const contentElement = document.querySelector('textarea[name="content"]'); // 내용 필드 선택

    if (titleElement.value.trim() === '' || contentElement.value.trim() === '') {
      alert('제목 또는 내용을 비워둘 수 없습니다.'); // 알림 메시지 표시
    }

  const formData = new FormData(this); // FormData 객체를 사용하여 폼 데이터를 수집

  if (formData.has('trialTime')) {
    const trialTimeValue = formData.get('trialTime'); // 'trialTime' 필드 값 가져오기
    const trialTimeDate = new Date(trialTimeValue); // Date 객체로 변환
    const formattedTrialTime = trialTimeDate.toISOString(); // ISO 8601 형식으로 변환

    formData.set('trialTime', formattedTrialTime); // 'trialTime' 필드 값을 업데이트
  }
  console.log(formData);
  console.log(formData.title);
  fetch(`http://localhost:3000/${boardType}`, {
    method: 'POST',
    body: formData, // 폼 데이터 전송
  })
  .then(response => {
    if (response.ok) { // HTTP 상태 코드가 200-299인 경우
      return response.json(); // 응답을 JSON 형태로 파싱하고 다음 then 블록으로 전달
    } else {
      throw new Error('Network response was not ok.'); // 응답이 성공적이지 않은 경우 오류를 던짐
    }
  })
  .then(data => {
    console.log(data); 
    alert('게시물 생성을 성공하였습니다.')
    window.location.href = `/${boardType}`
  })
  .catch(error => {
    console.error('Error:', error); // 오류 처리
  });
});
</script>
  </body>
</html>
