<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./email-validation-check.css">
  <script src="email-validation-check.js"></script>
  <title>이메일 인증</title>
</head>
<body>
  <header></header>
  <nav>
    <ul>
      <li>Home</li>
      <li>menu1</li>
      <li>menu2</li>
    </ul>
  </nav>
  <main>
    <form action="" id="verifyEmail">
      <div>
        <label for="email">Email: </label>
        <input id="email" type="text">
      </div>
      <div>
        <label for="code">Code: </label>
        <input id="code" type="text">
      </div>
      <a href="">
        <button>인증완료</button>
      </a>
    </form>
  </main>
  <footer></footer>
</body>
</html>