<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/email-validation-check.css" /> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/email-validation-check.css">
    <title>Email Validation Check</title>
  </head>
  <body>
    <header>
      <%- include('partials/nav') %>
    </header>
    <main>
      <form id="verifyEmail">
        <div>
          <label for="email">Email: </label>
          <input
            id="email"
            class="input"
            type="email"
            name="email"
            placeholder="example@google.com"
            autofocus
          />
        </div>
        <div>
          <label for="code">Code: </label>
          <input
            id="code"
            class="input"
            type="text"
            name="code"
            placeholder="serial number"
          />
        </div>
        <button type="submit">인증완료</button>
      </form>
    </main>
    <footer></footer>
    <script>
      //email-validation-check.js
      const form = document.getElementById('verifyEmail');
      form.addEventListener('submit', (event) => {
        // 폼의 기본 동작을 중지합니다.
        event.preventDefault();
        const formData = {
          email: document.getElementById('email').value,
          code: document.getElementById('code').value,
        };
        fetch('http://localhost:3000/sign-up/verification', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(formData),
        })
        .then((response) => {
          if (!response.ok) {
            throw new Error('인증 이메일/코드가 올바르지 않습니다.');
          }
          return response.json();
        })
        .then((data) => {
          alert('이메일이 인증되었습니다. 로그인 페이지로 이동합니다.');
          console.log(data);
          window.location.href = 'http://localhost:3000/sign-in';
        })
        .catch((error) => {
          alert('인증 중 오류가 발생했습니다: ' + error.message);
          console.error(error);
        });
      });
    </script>
  </body>
</html>
