<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Participatory Trial</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/main-style.css" />
  </head>
  <body>
    <%- include('partials/notification') %>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CPT</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

          </ul>
          <ul class="navbar-nav mx-auto">
            <!-- 중앙에 배치하기 위해 mx-auto 사용 -->
            <li class="nav-item">
              <a class="nav-link" href="/online-boards">자유게시판</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trials">재판</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/humors">유머</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/poltical-debates">정치 토론</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <!-- 우측에 배치하기 위해 ms-auto 사용 -->
            <li class="nav-item">
              <% if (isLoggedIn)  {%>
              <a class="nav-link" href="/logout">로그아웃</a>
              <% } else { %>
                <a class="nav-link" href="/sign-up">로그인</a>
                <% } %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header>
      <form action="/search" method="get" id="searchForm">
        <div class="search">
          <input type="text" placeholder="검색어 입력" name="search" id="searchInput">
          <button type="submit" class="glass_button"><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
        </div>
      </form>
      <%- include('partials/nav')  %>
    </header>

    <main>
      <div class="hot_vote_now_container">
        <span>
          <h1 class="hot_vote_now">지금 가장 핫한 토론은?</>
        </span>
      </div>
      <img class="img" src="/image/pngwing.com.png" alt="">
      <div class="hot_vote">
        <div class="hot_vote_container">
          <div class="hot_vote_title">
            <span class="title">맥그리거와 할머니 500명이 싸우면?</span>
          </div>
          <div class="hot_vote_sub">
            <div class="title_one">
              <span>맥그리거</span>
            </div>
            <div class="vs">
              <span>VS</span>
            </div>
            <div class="titile_two">
              <span>할머니 500명</span>
            </div>
          </div>
          <div class="hot_vote_count">
            <div class="title_one_count">
              <span>100</span>
            </div>
            <div class="titile_two_count">
              <span>50</span>
            </div>
          </div>
          <div class="hot_vote_timer">
            <span>투표 종료: 1시간 30분 33초</span>
          </div>
        </div>
      </div>
      <div class="other">
        <span>그 외에도 재밌는 투표들을 만나보세요!</span>
      </div>
      <div class="grid-container">
        <% for(let i = 0; i < 9; i++) { %>
        <div class="grid-item">
          <div class="vote-title">맥그리거 VS 할머니 500명</div>
          <div class="vote-options">
            <div class="vote-option">
              <div>맥그리거</div>
              <div class="vote-count">5000표</div>
            </div>
            <div class="vote-title">VS</div>
            <div class="vote-option">
              <div>할머니 500명</div>
              <div class="vote-count">1000표</div>
            </div>
          </div>
        </div>
        <% } %>
        <!-- 다른 grid-item 블록 추가 -->
      </div>
    </header>
    <script></script>
  </body>
</html>
