<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./my-page.css">
  <script src=""></script>
  <title>My Page</title>
</head>
<body>
  <header>header</header>
  <nav>
    <ul class='navBar'>
      <li>Home</li>
      <li>menu1</li>
      <li>menu2</li>
    </ul>
  </nav>
  <main>
    <h1>User Profile</h1>
    <div class="info">
      <p><span class="label">Nickname:</span> <%= data.nickName %></p>
      <p><span class="label">Email:</span> <%= data.email %></p>
      <p><span class="label">Birthday:</span> <%= data.birth %></p>
      <!-- 추가적인 개인정보 항목을 여기에 추가할 수 있습니다 -->
    </div>
  </main>
  <footer>footer</footer>
</body>
</html>
