<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./sign-up.css">
  <title>sign up</title>
</head>
<body>
  <header>header</header>
  <nav>
    <ul>
      <li>Home</li>
      <li>menu1</li>
      <li>menu2</li>
    </ul>
  </nav>
  <main>
    <form action="" id="signupForm">
      <div class="email">
        <label for="email">Email</label>
        <input id="email" class="emailInput" type="email" placeholder="example@google.com" autofocus>
      </div>
      <div class='password'>
        <label for="password">Password</label>
        <input id="password" class="passwordInput" name="password" placeholder="password" type="text">
      </div>
      <div class='confirm password'>
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" class="confirmPasswordInput" name="passwordConfirm" placeholder="confirm password" type="text">
      </div>
      <div class='nickname'>
        <label for="Nickname">Nickname</label>
        <input id="Nickname" class="NicknameInput" name="nickName" placeholder="Nickname" type="text">
      </div>
      <div class="birthday">
        <label for="birthday">Birthday</label>
        <input id="birthday" name="birthday" type="date">
      </div>
      <a href=''>
        <button id="submitBtn" class="submitBtn" type="button">회원가입</button>
      </a>
    </form>
  </main>
  <footer>
    footer 영역
  </footer>
  <script src="./email-validation-modal.js" type="module"></script>
  <script src="./sign-up.js" type="module"></script>
</body>
</html>
