<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./sign-up.css">
  <script src="./sign-up.js" type="module"></script>
  <title>sign up</title>
</head>
<body>
  <header>header</header>
  <nav>
    <ul>
      <li>Home</li>
      <li>menu1</li>
      <li>menu2</li>
    </ul>
  </nav>
  <main>
    <form id="signupForm">
      <div class="email">
        <label for="email">Email</label>
        <input id="email" class="emailInput" type="email" name="email" placeholder="example@google.com" autofocus>
      </div>
      <div class='password'>
        <label for="password">Password</label>
        <input id="password" class="passwordInput" name="password" placeholder="password" type="text">
      </div>
      <div class='confirm password'>
        <label for="confirmPassword">Confirm Password</label>
        <input id="passwordConfirm" class="confirmPasswordInput" name="passwordConfirm" placeholder="confirm password" type="text">
      </div>
      <div class='nickname'>
        <label for="nickname">Nickname</label>
        <input id="nickName" class="NicknameInput" name="nickName" placeholder="Nickname" type="text">
      </div>
      <div class="birthday">
        <label for="birthday">Birthday</label>
        <input id="birth" name="birth" type="date">
      </div>
      <button id="submitBtn" class="submitBtn" type="submit">회원가입</button>
    </form>
  </main>
  <footer>
    footer 영역
  </footer>
</body>
</html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./sign-up.css" />
    <title>sign up</title>
  </head>
  <body>
    <header>header</header>
    <nav>
      <ul>
        <li>Home</li>
        <li>menu1</li>
        <li>menu2</li>
      </ul>
    </nav>
    <main>
      <form action="">
        <div class="email">
          <label for="email">Email</label>
          <div class="parallel-email">
            <input
              id="email"
              class="emailInput"
              type="email"
              placeholder="example@google.com"
              autofocus
            />
            <button id="openModalBtn">이메일 인증하기</button>
          </div>
        </div>
        <div class="password">
          <label for="password">Password</label>
          <input
            id="password"
            class="passwordInput"
            placeholder="password"
            type="text"
          />
        </div>
        <div class="confirm password">
          <label for="confirmPassword">Confirm Password</label>
          <input
            id="confirmPassword"
            class="confirmPasswordInput"
            placeholder="confirm password"
            type="text"
          />
        </div>
        <div class="nickname">
          <label for="Nickname">Nickname</label>
          <input
            id="Nickname"
            class="NicknameInput"
            placeholder="Nickname"
            type="text"
          />
        </div>
        <div class="birthday">
          <label for="birthday">Birthday</label>
          <input type="date" id="birthday" name="birthday" />
        </div>
        <button id="submitBtn" class="submitBtn" type="button">회원가입</button>
      </form>
      <!-- 모달 창 -->
      <div id="emailModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>이메일 인증</h2>
          <label for="email">Email:</label>
          <input
            id="emailInputModal"
            type="email"
            placeholder="example@google.com"
          />
          <button id="sendEmailBtn">전송</button>
          <label for="emailVerification">Verify Email</label>
          <input
            id="emailVerification"
            type="text"
            placeholder="serial number"
          />
          <button id="verifyBtn" class="btn">인증확인</button>
          <button id="closeBtn" class="close">Close</button>
        </div>
      </div>
    </main>
    <footer>footer 영역</footer>
    <script src="./sign-up.js" type="module"></script>
  </body>
</html>
