.navbar {
  background-color: #f4edcc;
}

.navbar-nav .nav-item:not(:last-child) {
  margin-right: 100px;
  font-family: 'MBC1961GulimM';
}

.nav-item {
  font-family: 'MBC1961GulimM';
  font-size: 20px;
}

.navbar-brand {
  font-size: 24px;
}

/* body {
  background-color: lightskyblue;
} */

header {
  position: -webkit-sticky; /* 사파리 브라우저 지원을 위함 */
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #f4edcc;
  z-index: 1000;
}
