body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.navbar-nav .nav-item:not(:last-child) {
  margin-right: 100px;
  font-family: 'MBC1961GulimM';
}
.nav-item {
  font-family: 'MBC1961GulimM';
  font-size: 20px;
}
.navbar-brand {
  font-size: 24px;
}

main {
  padding: 20px;
}

#shift,
form {
  width: 300px;
  margin: 0 auto;
}

.email,
.password {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.Btn,
.submitBtn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}
.button-img {
  width: 5px !important;
  height: 5px !important;
}

.submitBtn:hover,
.Btn:hover {
  background-color: #0056b3;
}

footer {
  background-color: #fffed4;
  color: black;
  padding: 20px 0;
  text-align: center;
}
