/* 전체 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* 헤더 영역 스타일 */
header {
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.navbar-nav .nav-item:not(:last-child) {
  margin-right: 100px;
  font-family: 'MBC1961GulimM';
}
.nav-item {
  font-family: 'MBC1961GulimM';
  font-size: 20px;
}
.navbar-brand {
  font-size: 24px;
}

/* 메인 영역 스타일 */
main {
  padding: 20px;
}

/* 폼 스타일 */
form {
  width: 400px;
  margin: 0 auto;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="submit"] {
  width: calc(100% - 10px); /* 입력 요소 너비 조정 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* 입력 요소 간격 조정 */
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-size: 14px; /* 원하는 크기로 조정 */
  padding: 5px 10px; /* 버튼 내부 여백 조정 */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #fffed4;
  color: black;
  padding: 20px 0;
  text-align: center;
}