.navbar-nav .nav-item:not(:last-child) {
  margin-right: 100px;
  font-family: 'MBC1961GulimM';
}
.nav-item {
  font-family: 'MBC1961GulimM';
  font-size: 20px;
}
.navbar-brand {
  font-size: 24px;
}

.realtime-voting-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
}
.user {
  font-size: 20px;
  font-weight: bold;
}

.container-info {
  display: flex;
  justify-content: space-between;
}

.progress {
  height: 40px;
}

.progress-bar {
  font-size: 18px;
}

.info-container {
  display: flex;
}

.like-count {
  font-size: 16px;
}
.view-count {
  font-size: 16px;
  margin-left: 15px;
}

#like-count,
#view-count {
  font-weight: bold;
  margin-left: 5px;
}

.btn-container {
  text-align: center;
}

.bg-success {
  background-color: #28a745 !important;
}

.chat-container {
  position: relative;
  height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  padding: 10px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.me {
  background-color: #007bff;
  color: #fff;
  text-align: right;
}

.other-user {
  background-color: #e2e3e5;
  color: #000;
  text-align: left;
}

.input-group {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.btn {
  display: inline-block;
}

.btn-container {
  text-align: center;
}

/* .comment-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  /* .comment-title {
    display: inline-block;
  } */

/* .comment-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
  }
  
  .comment-btn {
    margin-left: 10px;
    padding: 10px 20px;
  }  */

/* .comment-container {
    position: relative;
    margin-top: 20px;
  }
  
  .comment-title {
    position: absolute;
    top: -20px;
  }
  
  .comment-input {
    width: 100%;
    height: 100px;
  }
  
  .comment-btn {
    margin-top: 10px;
  } */

.comments-section {
  margin-top: 20px;
}

.comments-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.comment-list {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.comment {
  background-color: orange;
}

.comment-container {
  margin-top: 50px;
}

.comment-title {
  top: -20px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.comment-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Prevent resizing */
  margin-top: 20px;
}

.comment-btn {
  margin-top: 10px;
}
